<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].email}); %>
<h1>Accounts</h1>
<ul>
    <li>User Email: <%= result[0].email %></li>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Skills:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].skill_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/account/allAcc"><< back</a>

<%- include("../includes/footer.ejs"); %>