<%- include("../includes/header.ejs", {title:"Select Account"}); %>
    <h1>Select Your Email</h1>
    <form action="/resume/add" method="get">
        <br />
        Email
        <br />
        <select id="account_id" name="account_id">
            <% for(var i=0; account.length > i; i++ ) { %>
                <option value="<%= account[i].account_id %>"><%= account[i].email %></option>
            <% } %>
        </select>




        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>