<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to Johnathan's Database Web App </p>

    <a href="/company/all">View Companies</a>
    <br /><a href="/account/allAcc">View Accounts</a>
    <br /><a href="/address/allAdd">View Addresses</a>
    <br /><a href="/skill/all">View Skills</a>
    <br /><a href="/resume/all">View Resumes</a>

    <br />

<%- include("./includes/footer.ejs"); %>
