<%- include("../includes/header.ejs", {title: "Update " + address.street + ', ' + address.zip_code}); %>

<h1>Update Address <h1></h1></h1>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id %>">
    Street Adress: <input id="street" name="street" type="text" value="<%= address.street%>"/>
    <br />
    Zip Code: <input id="zip_code" name="zip_code" type="text" value="<%= address.zip_code%>"/>
    <br />
    <br />
    Company <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";

            if(company[i].address_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>