<%- include("../includes/header.ejs", {title:"Address - " + result[0].street + ', ' + result[0].zip_code}); %>
<h1>Address</h1>
<ul>
    <li>Street Address: <%= result[0].street %></li>
    <li>Zip Code: <%= result[0].zip_code %></li>
    <li>Company at this address:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].company_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/address/allAdd"><< back</a>

<%- include("../includes/footer.ejs"); %>